.mainWrapperLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex: 1;
    background-color: #004e96;
    color: white;
}

.loginContinueButton {
    background-color: white;
    border-radius: 8px;
    color: #004e96;
    padding: 6px 20px;
    font-weight: bold;
}

.loginContinueButton:hover {
    cursor: pointer;
}
